doctype html
html(lang=lang)

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Revive Pilates Bangkok Homepage

        // Favicon
        link(rel='icon', type='image/x-icon', href='/assets/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='/css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
            .container
                a.navbar-brand(href='#page-top') Revive Pilates Bangkok
                button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu
                    i.fas.fa-bars.ms-1
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.text-uppercase.ms-auto.py-4.py-lg-0
                        li.nav-item
                            a.nav-link(href='#services') Services
                        li.nav-item
                            a.nav-link(href='#portfolio') Galleries
                        li.nav-item
                            a.nav-link(href='#about') About
                        li.nav-item
                            a.nav-link(href='#team') Team
                        li.nav-item
                            a.nav-link(href='#contact') Contact
                        li.nav-item.ms-3
                            .btn-group(role='group')
                                a.btn.btn-sm(
                                    href='/en',
                                    class=lang === 'en' ? 'btn-primary' : 'btn-outline-primary',
                                    role='button'
                                ) EN
                                a.btn.btn-sm(
                                    href='/th',
                                    class=lang === 'th' ? 'btn-primary' : 'btn-outline-primary',
                                    role='button'
                                ) TH
        // Masthead
        header.masthead
            .container
                .masthead-subheading Welcome To Revive Pilates Bangkok!
                .masthead-heading.text-uppercase We're open now
                a.btn.btn-primary.btn-xl.text-uppercase(href='#services') Tell Me More

        // Services
        section#services.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase Services
                    //- h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
                .row.text-center
                    each service in services
                        .col-md-4
                            span.fa-stack.fa-4x
                                i.fas.fa-circle.fa-stack-2x.text-primary
                                i.fas.fa-star.fa-stack-1x.fa-inverse
                            h4.my-3= service.title
                            p.text-muted= service.desc

        // Packages
        if packages && packages.length
            section#packages.page-section.bg-light
                .container
                    .text-center
                        h2.section-heading.text-uppercase Packages
                    .row.text-center
                        each pkg in packages
                            .col-md-4
                                h4.my-3= pkg.title
                                p.text-muted= pkg.desc

        // Portfolio Grid

        // Portfolio Grid
        section#portfolio.page-section.bg-light
            .container
                .text-center
                    h2.section-heading.text-uppercase Galleries
                    //- h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
                .row
                    .col-lg-4.col-sm-6.mb-4
                        // Portfolio item 1
                        .portfolio-item
                            a.portfolio-link(href='/assets/img/portfolio/P1033932.jpg', target='_blank', title='Open full image in new tab')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        | Click or hover to enlarge
                                img.img-fluid(src='/assets/img/portfolio/P1033932.jpg', alt='...')
                            //- .portfolio-caption
                            //-     .portfolio-caption-heading Threads
                            //-     .portfolio-caption-subheading.text-muted Illustration
                    .col-lg-4.col-sm-6.mb-4
                        // Portfolio item 2
                        .portfolio-item
                            a.portfolio-link(href='/assets/img/portfolio/P1033972.jpg', target='_blank', title='Open full image in new tab')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        | Click or hover to enlarge
                                img.img-fluid(src='/assets/img/portfolio/P1033972.jpg', alt='...')
                            //- .portfolio-caption
                            //-     .portfolio-caption-heading Explore
                            //-     .portfolio-caption-subheading.text-muted Graphic Design
                    .col-lg-4.col-sm-6.mb-4
                        // Portfolio item 3
                        .portfolio-item
                            a.portfolio-link(href='/assets/img/portfolio/P1034054.jpg', target='_blank', title='Open full image in new tab')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        | Click or hover to enlarge
                                img.img-fluid(src='/assets/img/portfolio/P1034054.jpg', alt='...')
                            //- .portfolio-caption
                            //-     .portfolio-caption-heading Finish
                            //-     .portfolio-caption-subheading.text-muted Identity
                    .col-lg-4.col-sm-6.mb-4.mb-lg-0
                        // Portfolio item 4
                        .portfolio-item
                            a.portfolio-link(href='/assets/img/portfolio/P1034110.jpg', target='_blank', title='Open full image in new tab')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        | Click or hover to enlarge
                                img.img-fluid(src='/assets/img/portfolio/P1034110.jpg', alt='...')
                            //- .portfolio-caption
                            //-     .portfolio-caption-heading Lines
                            //-     .portfolio-caption-subheading.text-muted Branding
                    .col-lg-4.col-sm-6.mb-4.mb-sm-0
                        // Portfolio item 5
                        .portfolio-item
                            a.portfolio-link(href='/assets/img/portfolio/P1034155.jpg', target='_blank', title='Open full image in new tab')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        | Click or hover to enlarge
                                img.img-fluid(src='/assets/img/portfolio/P1034155.jpg', alt='...')
                            //- .portfolio-caption
                            //-     .portfolio-caption-heading Southwest
                            //-     .portfolio-caption-subheading.text-muted Website Design
                    .col-lg-4.col-sm-6
                        // Portfolio item 6
                        .portfolio-item
                            a.portfolio-link(href='/assets/img/portfolio/P1034196.jpg', target='_blank', title='Open full image in new tab')
                                .portfolio-hover
                                    .portfolio-hover-content
                                        | Click or hover to enlarge
                                img.img-fluid(src='/assets/img/portfolio/P1034196.jpg', alt='...')
                            //- .portfolio-caption
                            //-     .portfolio-caption-heading Window
                            //-     .portfolio-caption-subheading.text-muted Photography

        // About
        section#about.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase About
                    h3.section-subheading.text-muted= about.desc
                    if about && about.vision
                        p.lead.text-center= about.vision
                ul.timeline
                    li
                        .timeline-image
                            img.rounded-circle.img-fluid(src='/assets/img/logo.jpg', alt='Revive Pilates Logo')
                        .timeline-panel
                            .timeline-heading
                                h4 2026
                                h4.subheading Our Humble Beginnings
                            //- .timeline-body
                            //-     p.text-muted
                            //-         | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
                    //- li.timeline-inverted
                    //-     .timeline-image
                    //-         img.rounded-circle.img-fluid(src='/assets/img/about/2.jpg', alt='...')
                    //-     .timeline-panel
                    //-         .timeline-heading
                    //-             h4 March 2011
                    //-             h4.subheading An Agency is Born
                    //-         .timeline-body
                    //-             p.text-muted
                    //-                 | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
                    //- li
                    //-     .timeline-image
                    //-         img.rounded-circle.img-fluid(src='/assets/img/about/3.jpg', alt='...')
                    //-     .timeline-panel
                    //-         .timeline-heading
                    //-             h4 December 2015
                    //-             h4.subheading Transition to Full Service
                    //-         .timeline-body
                    //-             p.text-muted
                    //-                 | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
                    //- li.timeline-inverted
                    //-     .timeline-image
                    //-         img.rounded-circle.img-fluid(src='/assets/img/about/4.jpg', alt='...')
                    //-     .timeline-panel
                    //-         .timeline-heading
                    //-             h4 July 2020
                    //-             h4.subheading Phase Two Expansion
                    //-         .timeline-body
                    //-             p.text-muted
                    //-                 | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
                    li.timeline-inverted
                        .timeline-image
                            h4
                                | Be Part
                                br
                                | Of Our
                                br
                                | Story!

        // Team
        section#team.page-section.bg-light
            .container
                .text-center
                    h2.section-heading.text-uppercase Our Amazing Team
                    //- h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
                .row
                    .col-lg-3
                        .team-member
                            .member-top
                                img.mx-auto.rounded-circle(src='/assets/img/team/team11.jpg', alt='...')
                                h4 Bute
                                p.text-muted Physiotherapy & Pilates instructor
                                p.text-muted “Small movements, big changes”
                            h5 Educational Background
                            ul
                                li Bachelor of Science in Allied Health Sciences (Physical therapy), Thammasat University
                            h5 Experience & Approach
                            ul
                                li Experience in physiotherapy internships in hospital settings, as well as providing physiotherapy treatment for football players and runners
                                li Skilled in conducting physiotherapy assessments, analyzing body alignment and movement patterns to treat and prevent injuries, using Pilates-based exercise as the primary approach
                            a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Parveen Anand Twitter Profile')
                                i.fab.fa-twitter
                            a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Parveen Anand Facebook Profile')
                                i.fab.fa-facebook-f
                            a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Parveen Anand LinkedIn Profile')
                                i.fab.fa-linkedin-in
                    .col-lg-3
                        .team-member
                            .member-top
                                img.mx-auto.rounded-circle(src='/assets/img/team/team2.jpg', alt='...')
                                h4 Nam
                                p.text-muted Physiotherapy & Pilates instructor
                                p.text-muted “Every Move Builds Your Strength”
                            h5 Educational Background
                            ul
                                li Bachelor of Science in Allied Health Sciences (Physical Therapy), Thammasat University, graduated with First-Class Honors
                            h5 Experience & Approach
                            ul
                                li Practical experience in physical therapy and movement rehabilitation through academic training and clinical internships
                                li Experience managing musculoskeletal pain, movement dysfunctions, athletes and runners for injury prevention and functional movement improvement
                                li Application of physiotherapy principles in Pilates to enhance safe movement, reduce pain, core strength, and improved posture
                            a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Diana Petersen Twitter Profile')
                                i.fab.fa-twitter
                            a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Diana Petersen Facebook Profile')
                                i.fab.fa-facebook-f
                            a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Diana Petersen LinkedIn Profile')
                                i.fab.fa-linkedin-in
                    .col-lg-3
                        .team-member
                            .member-top
                                img.mx-auto.rounded-circle(src='/assets/img/team/team3.jpg', alt='...')
                                h4 Tonnam
                                p.text-muted Physiotherapy & Pilates instructor
                                p.text-muted “Trust yourself first — you can get better”
                            h5 Educational Background
                            ul
                                li Bachelor of Science in Allied Health Sciences (Physical Therapy), Thammasat University ,graduated with First-Class Honors
                            h5 Experience & Approach
                            ul
                                li Clinical internship experience across hospital and wellness settings
                                li Provided physiotherapy care for football players, runners, and basketball athletes, including serving as a physiotherapist at the 75th Chulalongkorn–Thammasat Traditional Football Match
                                li Skilled in analyzing posture, movement, and functional needs, and applying Pilates-based and physiotherapy principles to design personalized exercise programs that enhance strength, mobility, and overall movement efficiency
                            a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Larry Parker Twitter Profile')
                                i.fab.fa-twitter
                            a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Larry Parker Facebook Profile')
                                i.fab.fa-facebook-f
                            a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Larry Parker LinkedIn Profile')
                                i.fab.fa-linkedin-in
                    .col-lg-3
                        .team-member
                            .member-top
                                img.mx-auto.rounded-circle(src='/assets/img/team/team4.jpg', alt='...')
                                h4 Tangmo
                                p.text-muted Physiotherapy & Pilates instructor
                                p.text-muted “Functional movement begins with informed instruction”
                            h5 Educational Background
                            ul
                                li Bachelor of Science in Physical Therapy, Rangsit University, graduated with First-Class Honors
                            h5 Experience & Approach
                            ul
                                li Over 7 years of professional experience at Samitivej Srinakarin Hospital in the Physical Therapy Department, specializing in post-operative rehabilitation and prenatal care
                                li Possesses strong expertise in physical therapy and the ability to integrate clinical knowledge into comprehensive Pilates-based exercise programs    
                            a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Larry Parker Twitter Profile')
                                i.fab.fa-twitter
                            a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Larry Parker Facebook Profile')
                                i.fab.fa-facebook-f
                            a.btn.btn-dark.btn-social.mx-2(href='#!', aria-label='Larry Parker LinkedIn Profile')
                                i.fab.fa-linkedin-in
                //- .row
                //-     .col-lg-8.mx-auto.text-center
                //-         p.large.text-muted
                //-             | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.

        //- // Clients
        //- div.py-5
        //-     .container
        //-         .row.align-items-center
        //-             .col-md-3.col-sm-6.my-3
        //-                 a(href='#!')
        //-                     img.img-fluid.img-brand.d-block.mx-auto(src='/assets/img/logos/microsoft.svg', alt='...', aria-label='Microsoft Logo')
        //-             .col-md-3.col-sm-6.my-3
        //-                 a(href='#!')
        //-                     img.img-fluid.img-brand.d-block.mx-auto(src='/assets/img/logos/google.svg', alt='...', aria-label='Google Logo')
        //-             .col-md-3.col-sm-6.my-3
        //-                 a(href='#!')
        //-                     img.img-fluid.img-brand.d-block.mx-auto(src='/assets/img/logos/facebook.svg', alt='...', aria-label='Facebook Logo')
        //-             .col-md-3.col-sm-6.my-3
        //-                 a(href='#!')
        //-                     img.img-fluid.img-brand.d-block.mx-auto(src='/assets/img/logos/ibm.svg', alt='...', aria-label='IBM Logo')

        // Contact
        section#contact.page-section
            .container
                .text-center
                    h2.section-heading.text-uppercase Contact Us
                    h3.section-subheading.text-muted Get in touch
                // embedded google map
                .map-container.mt-4
                    // embed via direct coordinates
                    iframe(src="https://maps.google.com/maps?q=13.7100002,100.510921&z=17&output=embed" allowfullscreen="" loading="lazy")
                a.text-white.mt-2.d-inline-block(href="https://maps.app.goo.gl/5q3XJ1TuYEyQ6L9R8", target="_blank") Open in Google Maps
                if contact
                    .row.mt-4
                        .col-lg-12.text-center
                            if contact.address
                                p= contact.address
                            if contact.phone
                                p= contact.phone
                            if contact.email
                                p
                                    a(href=`mailto:${contact.email}`)= contact.email
                            if contact.facebook
                                p.mb-1
                                    a.d-inline-flex.align-items-center.text-white(href=contact.facebook, target="_blank")
                                        i.fab.fa-facebook-f.me-2
                                        | Facebook
                            if contact.line
                                p.mb-1
                                    - const lineId = contact.line.startsWith('@') ? contact.line.slice(1) : contact.line
                                    a.d-inline-flex.align-items-center.text-white(href=`https://line.me/R/ti/p/%40${lineId}`, target="_blank")
                                        i.fab.fa-line.me-2
                                        | #{contact.line}
                            if contact.instagram
                                p.mb-1
                                    - const instaId = contact.instagram.startsWith('@') ? contact.instagram.slice(1) : contact.instagram
                                    a.d-inline-flex.align-items-center.text-white(href=`https://www.instagram.com/${instaId}`, target="_blank")
                                        i.fab.fa-instagram.me-2
                                        | #{contact.instagram}

        // Footer
        footer.footer.py-4
            .container
                .row.align-items-center
                    .col-lg-4.text-lg-start
                        | Copyright &copy; Revivepilatesbkk 2026
                    .col-lg-4.my-3.my-lg-0
                        // line icon
                        a.btn.btn-dark.btn-social.mx-2(href='https://line.me/R/ti/p/%40revivepilates', aria-label='Line', target='_blank')
                            i.fab.fa-line
                        // facebook icon
                        a.btn.btn-dark.btn-social.mx-2(href='https://web.facebook.com/people/Revive-Pilates-Studio-Wellness/61584033732719/?_rdc=1&_rdr#', aria-label='Facebook', target='_blank')
                            i.fab.fa-facebook-f
                        // instagram icon
                        a.btn.btn-dark.btn-social.mx-2(href='https://www.instagram.com/revivepilatesbkk', aria-label='Instagram', target='_blank')
                            i.fab.fa-instagram
                    .col-lg-4.text-lg-end
                        a.link-dark.text-decoration-none.me-3(href='#!') Privacy Policy
                        a.link-dark.text-decoration-none(href='#!') Terms of Use

        // Portfolio Modals
        include includes/portfolio-modal-1
        include includes/portfolio-modal-2
        include includes/portfolio-modal-3
        include includes/portfolio-modal-4
        include includes/portfolio-modal-5
        include includes/portfolio-modal-6

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='/js/scripts.js')

        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
        // * *                               SB Forms JS                               * *
        // * * Activate your form at https://startbootstrap.com/solution/contact-forms * *
        // * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

        script(src='https://cdn.startbootstrap.com/sb-forms-latest.js')
